{% extends beelab_user_layout %}

{% block title %}Reset password - {{ parent() }}{% endblock %}

{% block body %}
    <h2>Reset password</h2>

    <div class="jumbotron">
        <p>We sent a message to the email address you provided.</p>
        <p>Please follow instructions in that message to complete your password reset.</p>
    </div>
{% endblock %}
